<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Baires Print</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="../main.css">
  <link rel="stylesheet" href="./login.css">
</head>
<body>
  <div id="app">
    <baires></baires>
  </div>

  <template id="baires">
    <div class="all">
      <nav>
          <main>
            <a href="#">Home</a>
          </main>
        </nav>
        <main>
          <div class="log-container">
            <div class="log">
              <div class="log-header">
                <div class="log-item">
                  <img src="../img/baires.svg" alt="Baires Print Sa.">
                </div>
              </div>
              <div class="input-container">
                <div id="mail" class="group">
                  <input id="txtEmail" 
                    type="email"
                    v-model="log.email">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Mail</label>
                  </input>
                </div>
        
                <div id="pass" class="group">
                  <input id="txtPassword"
                    type="password"
                    v-model="log.pass">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Clave</label>
                </input>
                </div>
              </div>
              <div class="btn-container">
              <button id="btnLogin" 
                class="btn btn-action"
                v-on:click="sendForm()">
                Entrar
              </button>
              </div>
            </div>
          </div>
        </main>
      </div>
  </template>

  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>

    var config = {
      apiKey: "AIzaSyDhkTT8JegV-ZThdjIJ_MABJM1gwkDR9ds",
      authDomain: "bairesprint-c020d.firebaseapp.com",
      databaseURL: "https://bairesprint-c020d.firebaseio.com",
      projectId: "bairesprint-c020d",
      storageBucket: "bairesprint-c020d.appspot.com",
      messagingSenderId: "695695201889"
    };

    firebase.initializeApp(config);
    var db = firebase.database();
    var ref = db.ref('/');
    var trabajosRef = db.ref('/trabajos');

    var app = new Vue({
      el: '#app',
      template: '#baires',
      data: {
        log: {
          email: '',
          pass: '',
        }
      },
      mounted() {
      },
      methods:{
        sendForm() {
          firebase.auth().signInWithEmailAndPassword(this.log.email, this.log.pass)
            .then(e => {
              window.location.href = "../dashboard";
            })
            .catch(e => console.log(e.menssage))
        }
      }
    })
  </script>
  
</body>
</html>