@charset "UTF-8";
/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.item {
  margin: 0;
  padding-left: em(15px);
  padding-right: em(15px);
}

.item {
  width: 100%;
}

.item.container {
  padding-left: 0;
  padding-right: 0;
}

/*
| Mixin para crear cuadriculas
|
| $selector: nombre del selector CSS de cada item de la cuadricula
|
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
.grid-1234 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.grid-1234 img {
  display: block;
}

body {
  overflow-x: hidden;
}

.grid-1234 > .item {
  width: calc(100% - 1.5em);
  margin: 0.75em;
}

@media screen and (min-width: 640px) {
  .grid-1234 > .item {
    width: calc(50% - 1.5em);
  }
}

@media screen and (min-width: 1024px) {
  .grid-1234 > .item {
    width: calc(33.33333% - 1.5em);
  }
}

@media screen and (min-width: 1440px) {
  .grid-1234 > .item {
    width: calc(25% - 1.5em);
  }
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
}

.data .nombre {
  padding: 1rem;
  width: calc( 100% - 56px);
}

.data .nombre input {
  width: 100%;
  padding: 0.3rem;
}

.data .btn {
  cursor: pointer;
  background-color: #502bac;
  padding: 1rem;
}

.data .btn:hover {
  background-color: #fff;
  color: #502bac;
}

.image input {
  position: absolute;
  display: none;
}

.imageArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: -0rem;
  margin-bottom: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2em;
  height: 100%;
  top: 0;
  position: absolute;
  overflow: hidden;
}

.imageArea section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.2em;
  width: 100%;
  height: 100%;
}

.imageArea .customUpload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: #502bac;
  cursor: pointer;
}

.imageArea .customUpload i {
  padding: 1rem;
}

.imageArea .customUpload p {
  font-weight: 200;
}

.imageArea .btnCerrar {
  z-index: 20;
  cursor: pointer;
  position: absolute;
  color: red;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0 0 2em 2em;
  background-color: #fff;
  padding: 0.6em 0.1em 0.1em 0.1em;
  right: 0.5em;
  top: 0em;
}

.imageArea .btnCerrar i {
  font-size: 2em;
}
/*# sourceMappingURL=dashboard.css.map */