@charset "UTF-8";
/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container, main, .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.item, .intro, .intro .ini, .gallery .item-box, .filters-content {
  margin: 0;
  padding-left: em(15px);
  padding-right: em(15px);
}

.item {
  width: 100%;
}

.item.container {
  padding-left: 0;
  padding-right: 0;
}

/*
| Mixin para crear cuadriculas
|
| $selector: nombre del selector CSS de cada item de la cuadricula
|
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
.grid-1234 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.grid-1234 img {
  display: block;
}

body {
  overflow-x: hidden;
}

.grid-1234 > .item {
  width: calc(100% - 1.5em);
  margin: 0.75em;
}

@media screen and (min-width: 640px) {
  .grid-1234 > .item {
    width: calc(50% - 1.5em);
  }
}

@media screen and (min-width: 1024px) {
  .grid-1234 > .item {
    width: calc(33.33333% - 1.5em);
  }
}

@media screen and (min-width: 1440px) {
  .grid-1234 > .item {
    width: calc(25% - 1.5em);
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  min-width: 100%;
  height: auto;
}

body {
  background-color: #00bc83;
  height: 50vh;
  width: 100%;
  margin: 0;
}

.all {
  height: 100vh;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #00895f;
  position: relative;
}

nav main {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
}

nav a:nth-last-child(1) {
  position: absolute;
  right: 0;
  background-color: #502bac;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 2rem;
  margin-top: 6rem;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

@media screen and (min-width: 640px) {
  .intro {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    width: 40%;
  }
}

.intro .ini {
  width: 90%;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #1A1D22;
  margin-bottom: 1rem;
}

.intro .des {
  font-weight: 200;
  color: #1A1D22;
}

.back {
  position: absolute;
  width: 100%;
  top: 0;
}

.red, .blue, .yellow, .redG, .blueG, .yellowG {
  z-index: 1;
  height: 48rem;
  max-width: 40rem;
  width: 100%;
  position: absolute;
  background-size: cover;
}

.red {
  background-image: url("./img/paralax/rojo.svg");
}

.blue {
  background-image: url("./img/paralax/azul.svg");
}

.yellow {
  background-image: url("./img/paralax/amarillo.svg");
}

.redG {
  background-image: url("./img/paralax/rojoG.svg");
}

.blueG {
  background-image: url("./img/paralax/azulG.svg");
}

.yellowG {
  background-image: url("./img/paralax/amarilloG.svg");
}

.mentira {
  height: 2000px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 100;
  margin-top: 2rem;
}

.gallery .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .gallery .item-box {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .gallery .item-box {
    width: 33.33%;
  }
}

@media screen and (min-width: 1440px) {
  .gallery .item-box {
    width: 25%;
  }
}

.gallery .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
  background: #00895f;
  color: #fff;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(66, 99, 78, 0.15);
  box-shadow: 0px 5px 30px 0px rgba(66, 99, 78, 0.15);
  overflow: hidden;
  border-radius: 0.2rem;
}

.gallery .item .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gallery .item .image img {
  display: block;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gallery .item .data {
  width: 100%;
  padding: 1rem;
  border-top: 0.2rem solid #40cd53;
}

.gallery .item .data h4 {
  font-weight: 300;
}

.detalle-fondo {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100vh;
  background-color: #000000bf;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detalle-fondo .detalle {
  background-color: #fff;
}

.detalle-fondo .item-box {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  max-height: 90vh;
}

.detalle-fondo .next, .detalle-fondo .back {
  z-index: 90;
  position: absolute;
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  top: calc( 50% - 1.5rem);
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(66, 99, 78, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(66, 99, 78, 0.3);
}

.detalle-fondo .next {
  right: -1.5rem;
}

.detalle-fondo .next::before {
  font-family: "Montserrat", sans-serif;
  content: url("./img/next.svg");
  text-transform: uppercase;
  position: relative;
  width: 32px;
  height: 32px;
}

.detalle-fondo .back {
  left: -1.5rem;
}

.detalle-fondo .back::before {
  font-family: "Montserrat", sans-serif;
  content: url("./img/before.svg");
  text-transform: uppercase;
  position: relative;
  width: 32px;
  height: 32px;
  font-size: 2rem;
}

.detalle-fondo .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #00895f;
  color: #fff;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(66, 99, 78, 0.15);
  box-shadow: 0px 5px 30px 0px rgba(66, 99, 78, 0.15);
  overflow: hidden;
  border-radius: 0.2rem;
}

.detalle-fondo .item .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
}

.detalle-fondo .item .image img {
  display: block;
  max-width: 90%;
  max-height: 90vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.detalle-fondo .item .data {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  border-top: 0.2rem solid #40cd53;
}

.detalle-fondo .item .data h4 {
  font-weight: 300;
}

.salir {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.filters-content {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.filters-content .filter {
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  background-color: #502bac;
  margin: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border-radius: 2px;
  cursor: pointer;
}

.filters-content .filter:hover {
  color: #502bac;
  background-color: #fff;
}

@media screen and (min-width: 640px) {
  .tituloTrabajos {
    margin-right: 0.5rem;
  }
}

.tituloTrabajos h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.card {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.card-enter, .card-leave-to, .cardEnd {
  opacity: 0;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-enter-to {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card-move {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*# sourceMappingURL=main.css.map */