@import "./scss/general";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  // -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
}

*{
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6{
  font-family: $fB;
  margin: 0;
}

a{
  color: $cW;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

img{
  min-width: 100%;
  height: auto;
}

body{
  background-color: $cA;
  height: 50vh;
  width: 100%;
  margin: 0;
}

.all{
  height: 100vh;
}

main{
  position: relative;
  @include flex;
  @include edContainer;
  justify-content: center;
  align-items: center;
}

nav{
  @include flex;
  width: 100%;
  background-color: $cB;
  position: relative;
  a{
    font-family: $fA;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
    &:nth-last-child(1){
      position: absolute;
      right: 0;
      background-color: $cC;
    }
  } 
}

.intro{
  @include flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 10;
  flex-direction: column;
  @include edItem(90,50,40,40);
  padding: 2rem;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  .ini{
    @include edItem(90);
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $color-5;
    margin-bottom: 1rem;
  }
  .des{
    font-weight: 200;
    color: $color-5;
  }
}

.back{
  position: absolute;
  width: 100%;
  top: 0;
}

.red,.blue,.yellow,.redG,.blueG,.yellowG{
  height: 48rem;
  width: 40rem;
  position: absolute;
  background-size: cover;
}
.red{
  background-image: url('../img/paralax/rojo.svg');
}
.blue{
  background-image: url('../img/paralax/azul.svg');
}
.yellow{
  background-image: url('../img/paralax/amarillo.svg');
}
.redG{
  background-image: url('../img/paralax/rojoG.svg');
}
.blueG{
  background-image: url('../img/paralax/azulG.svg');
}
.yellowG{
  background-image: url('../img/paralax/amarilloG.svg');
}

.mentira{
  height: 2000px;
}

//masonry

.gallery{
  @include flex;
  @include edContainer;
  position: relative;
  z-index: 100;
  margin-top: 4rem;
  .item-box{
    @include flex;
    @include edItem(100,50,33.33,25);
    padding: 1rem;
  }
  .item{
    @include flex;
    position: relative;
    width: 100%;
    background: $cB;
    color: $cW;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(66,99,78,0.15);
    -moz-box-shadow: 0px 5px 30px 0px rgba(66,99,78,0.15);
    box-shadow: 0px 5px 30px 0px rgba(66,99,78,0.15);
    overflow: hidden;
    border-radius: 0.2rem;
    .image{
      @include flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 100%;
      overflow: hidden;
      user-select: none;
      img{
        display: block;
        position: absolute;
        object-fit: cover;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    .data{
      width: 100%;
      padding: 1rem;
      border-top: 0.2rem solid #40cd53;
      h4{
        font-weight: 300;
      }
    }
  }
}




.detalle-fondo{
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100vh;
  background-color: #000000bf;
  top: 0;
  right: 0;
  @include flex;
  justify-content: center;
  align-items: center;
  .detalle{
    background-color: #fff;
  }
  .item-box{
    z-index: 2;
    position: relative;
    @include flex;
    padding: 2px;
    border-radius: 4px;
    align-items: center;
  }
  .next,.back{
    z-index: 90;
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-color: $cW;
    top: calc( 50% - 1.5rem );
    border-radius: 50%;
    cursor: pointer;
    @include flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(66,99,78,0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(66,99,78,0.3);
    box-shadow: 0px 5px 10px 0px rgba(66,99,78,0.3);
  }
  .next{
    right: -1.5rem;
    &::before{
      font-family: $fA;
      content: url('./img/next.svg');
      text-transform: uppercase;
      position: relative;
      width: 32px;
      height: 32px;
    }
  }
  .back{
    left: -1.5rem;
    &::before{
      font-family: $fA;
      content: url('./img/before.svg');
      text-transform: uppercase;
      position: relative;
      width: 32px;
      height: 32px;
      font-size: 2rem;

    }
  }
  .item{
    @include flex;
    flex-direction: column;
    position: relative;
    background: $cB;
    color: $cW;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(66,99,78,0.15);
    -moz-box-shadow: 0px 5px 30px 0px rgba(66,99,78,0.15);
    box-shadow: 0px 5px 30px 0px rgba(66,99,78,0.15);
    overflow: hidden;
    border-radius: 0.2rem;
    .image{
      @include flex;
      position: relative;
      justify-content: center;
      align-items: center;
      user-select: none;
      img{
        display: block;
        // object-fit: cover;
        max-width: 90%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    .data{
      box-sizing: border-box;
      padding: 1rem;
      border-top: 0.2rem solid #40cd53;
      h4{
        font-weight: 300;
      }
    }
  }
}

.salir{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}
